export(data.reg.nested)
export(data.reg.single)
export(desireVar)
export(err.sim.nested)
export(err.sim.single)
export(fixef.sim.nested)
export(fixef.sim.single)
export(rand.eff.sim)
export(rbimod)
export(sim.pow)
export(sim.pow.nested)
export(sim.pow.single)
export(sim.reg)
export(sim.reg.nested)
export(sim.reg.single)
export(varcov.randeff)
